<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'encuestas/style.css' %}"/>
    <title>Encuestas con Django</title>
  </head>
  <body>
    {% if ultimas_encuestas %}
    <ul>
      {% for encuesta in ultimas_encuestas %}
      <li><a href="{% url 'encuestas:detalles' encuesta.id %}">{{ encuesta.question_text }}</a></li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No hay encuestas disponibles.</p>
    {% endif %}
  </body>
</html>
